<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgfay.video">

    <application>
        <activity
            android:name=".activity.VideoCutActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoTheme" />
        <activity
            android:name=".activity.VideoEditActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoTheme" />
        <activity android:name=".activity.MultiVideoActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoTheme"/>
    </application>

</manifest>