<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgfay.ffmpeglibrary">

    <application>
        <activity android:name=".activity.VideoRecordActivity" />
        <activity android:name=".activity.AVMusicPlayerActivity" />
        <activity android:name=".activity.AVMediaPlayerActivity" />
    </application>

</manifest>